/electron-vite/node_modules
/electron-vite/dist
/electron-vite/electron-dist
/LabMangerNest/node_modules
/LabMangerNest/prisma/data.db
/LabMangerNest/dist
/LabMangerNest/generated
*.db
/barcode_printer/target


